<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => Patient %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:mrn) %></dt>
      <dd><pre class="prettyprint"><%= @patient.mrn %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:family_name) %></dt>
      <dd><pre class="prettyprint"><%= @patient.family_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:given_name) %></dt>
      <dd><pre class="prettyprint"><%= @patient.given_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:dob) %></dt>
      <dd><pre class="prettyprint"><%= @patient.dob %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:sex) %></dt>
      <dd><pre class="prettyprint"><%= @patient.sex %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:photo_file_name) %></dt>
      <dd><pre class="prettyprint"><%= @patient.photo_file_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:photo_content_type) %></dt>
      <dd><pre class="prettyprint"><%= @patient.photo_content_type %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:photo_file_size) %></dt>
      <dd><pre class="prettyprint"><%= @patient.photo_file_size %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:photo_updated_at) %></dt>
      <dd><pre class="prettyprint"><%= @patient.photo_updated_at %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

